@{
    ViewBag.Title = "О сервисе";
}
<h2>@ViewBag.Title.</h2>
<div style="margin-top: 20px;">
    <h4>
        TErm производит интеграцию с Redmine и предоставляет
        функционал по прогнозированию проектов.
    </h4>
    <ul>
        <li>Позволяет просматривать проекты и задачи.</li>
        <li>Позволяет находить похожие задачи по установленным
            критериям и формирует новый проект с спрогнозированными
            сроками выполнения.</li>        
    </ul>
</div>
