@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <img src="~/Content/images/term.png" width="100" height="50" style="margin-bottom: 20px">
    <span style="font-size: 50px">TErm</span>    
    <p class="lead">TErm бесплатный сервис для прогнозирования сроков выполнения проекта.</p>
    @*<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            TErm производит интеграцию с Redmine и предоставляет 
            функционал по прогнозированию проектов.
        </p>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Проекты</h2>
        <p>
            Позволяет просматривать проекты и задачи.
        </p>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Задачи</h2>
        <p>
            Позволяет находить похожие задачи по установленным
            критериям и формирует новый проект с спрогнозированными 
            сроками выполнения.
        </p>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
</div>